body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
}
#heading{
  font-family:cursive;
  font: size 110%;;
  background-color: lightslategray;
  color:white;
}
#CendraPalmerPhoto{
  width: 10%;
  height: 10%;
  border-radius: 50%;
  border: 5px solid lightskyblue
}


#sidebar{
  font-size: 85%;
  background-color:lightblue;
  color: black;
  font-family: cursive;
  width: 10%;
  padding: 1rem;
}
.nav-menu{
  list-style-type: none;
  padding: 0%;


}

footer {
  background-color:lightslategray;
  text-align: center;
  font-size: 200%;
  color: #FCF7F8;
}
  .icons{
    width: 3rem;
    margin: 0rem;
    padding: 0%;
  }

